language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm

before_script:
  - composer self-update
  - composer install
  - cp phpcs.ruleset.xml.dist phpcs.ruleset.xml

script:
  - php vendor/bin/phpcs --standard=phpcs.ruleset.xml src/
  - php vendor/bin/phpunit
